@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: #070711;
    /* ece5dd */
    --foreground: 240 10% 3.9%;
    --card: 0 0% 100%;
    --card-foreground: 240 10% 3.9%;
    --popover: 0 0% 100%;
    --popover-foreground: 240 10% 3.9%;
    --primary: 240 5.9% 10%;
    --primary-foreground: 0 0% 98%;
    --secondary: 240 4.8% 95.9%;
    --secondary-foreground: 240 5.9% 10%;
    --muted: 240 4.8% 95.9%;
    --muted-foreground: 240 3.8% 46.1%;
    --accent: #FFFFFF;
    /* 6e7b99 */
    --accent-foreground: 240 5.9% 10%;
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 0 0% 98%;
    --border-color: #FFFFFF;
    /* 92a8d1 */
    --radius: 0.3rem;
    --text-muted-color: #FFFFFF;
    /* 6b7280 */
    --content-bg-color: #f5f5f5;
    /* Content background */
    --border-width: 24px;
    --font-size-header-small: clamp(10px, .7vw, 12px);
    --border: 240 3.7% 15.9%;
  }

  html,
  body {
    background-color: #f5f5dc;
    min-height: 100vh;
  }
}

html,
body {
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
  background-color: var(--background);
}

.bordered-layout {
  position: fixed;
  top: var(--border-width);
  left: var(--border-width);
  right: var(--border-width);
  bottom: var(--border-width);
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
}

.scroll-container {
  flex-grow: 1;
  overflow-y: auto;
  outline: 2px solid var(--accent);
  box-sizing: border-box;
  padding-bottom: 16px;
}

.header {
  padding-top: var(--border-width);
}

.header-row {
  width: 100%;
}

.sticky-header {
  position: sticky;
  top: 0;
  z-index: 1000;
  display: flex;
  justify-content: center;
  align-items: center;
  outline: 2px solid var(--accent);
}

.header-box {
  flex-grow: 1;
  padding: 8px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border: 2px solid var(--accent);
}

.logo-box {
  width: 96px;
  height: 96px;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 0px;
  border-right: 2px solid var(--accent);
  box-sizing: border-box;
  flex-shrink: 0;
  flex-grow: 0;
}

.spacer-box {
  flex-grow: 1;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 24px;
  border: 0px;
  border-right: 2px solid var(--accent);
}

.dashed-box {
  background: repeating-linear-gradient(-45deg,
      var(--accent) 0px,
      var(--accent) 4px,
      transparent 5px,
      transparent 10px);
}

.works-box {
  display: flex;
  border: 0px;
  justify-content: space-between;
  align-items: center;
  flex-shrink: 0;
  flex-grow: 1;
  flex-basis: 0;
}

.account-box {
  width: 96px;
  height: 96px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border: 0px;
  border-left: 2px solid var(--accent);
  box-sizing: border-box;
  flex-shrink: 0;
  flex-grow: 0;
}

.logo-image {
  width: 70%;
  height: auto;
}

.bg {
  position: fixed;
  top: -50%;
  left: -50%;
  right: -50%;
  bottom: -50%;
  width: 325%;
  height: 350vh;
  background: transparent url('/static_map.png') repeat 0 0;
  background-repeat: repeat;
  animation: bg-animation .2s infinite;
  opacity: 0.30;
  visibility: visible;
  z-index: 3000;
  pointer-events: none;
}

.cross-dots {
  background-image: radial-gradient(var(--accent) 1px, transparent 1px), radial-gradient(var(--accent) 1px, transparent 1px);
  background-size: calc(6 * 1px) calc(6 * 1px);
  background-position: 0 0, calc(3 * 5px) calc(3 * 5px);
}

@keyframes bg-animation {
  0% {
    transform: translate(0, 0)
  }

  10% {
    transform: translate(-5%, -5%)
  }

  20% {
    transform: translate(-10%, 5%)
  }

  30% {
    transform: translate(5%, -10%)
  }

  40% {
    transform: translate(-5%, 15%)
  }

  50% {
    transform: translate(-10%, 5%)
  }

  60% {
    transform: translate(15%, 0)
  }

  70% {
    transform: translate(0, 10%)
  }

  80% {
    transform: translate(-15%, 0)
  }

  90% {
    transform: translate(10%, 5%)
  }

  100% {
    transform: translate(5%, 0)
  }
}